.ba{
  background-color: aqua;
  width: 1350px;
}
.about{
  
  background-color:white;
  border-radius: 1em;
  padding: 2em;
  margin: 150px;
  margin-left: 300px;
  margin-top: 50px;
  margin-bottom: 1px;
  
}
.bb{
  color: blue;
  text-align: center;
}
#scroller{
  width: 800px;
  height: 600px;
  overflow: scroll;
  scrollbar-color: grey lightblue;
}

