.Ea{
  background-color: aqua;
  width: 1400px;
}
.admission{
   background-color: white ;
  border-radius: 1em;
  padding: 1em;
  margin: 100px;
  margin-left: 350px;
  margin-top: 50px;
  margin-bottom: 1px;
}
.ee{
  text-align: center;
  color: blue;
}

#scroller{
  width: 800px;
  height: 600px;
  overflow: scroll;
  scrollbar-color: grey lightblue;
}
