.ca{
  background-color: aqua;
  width: 1400px;
}
.courses{
  background-color: white ;
  border-radius: 1em;
  padding: 2em;
  margin: 200px;
  margin-left: 350px;
  margin-top: 50px;
  margin-bottom: 1px;
  }
  .cc{
    text-align: center;
    color: blue;
    }
    video{
      width: 1px;
      height: 1px;
    }
  #scroller{
  width: 800px;
  height: 600px;
  overflow: scroll;
  scrollbar-color: grey lightblue;
}
