.all{
  background-color: aqua;
  text-align: center;
  border-radius: 1em;
  padding: 0em;
  margin-right: 20px;
  width: 1350px; 
  
}
.home{
    background-color: white;
    padding: 6em;
    border-radius: 2em ;
    margin: 100px;
    margin-left: 250px;
    margin-bottom: 1px;
    margin-top: 50px;
}
.aa{
  color: white;
  background-color:white;
  text-align: center;
  background-image: url(../../public/Images/college-banner-Cz0xylpt.png);
  border-radius: 1em;
  margin-bottom: 20px;
  margin-top: 20px;
  
}

.button{
  background-color: green;
  color: white;
  text-align: center;
}
img{
  height: 350px;
  width: 350px;
}
#scroller{
  width: 800px;
  height: 600px;
  overflow: scroll;
  scrollbar-color: grey lightblue;
}
